[submodule "CENG351-Database_And_File_PA"]
	path = CENG351-Database_And_File_PA
	url = https://github.com/basar-yilmaz/CENG351-Database_And_File_PA
[submodule "CENG315-algorithms_THE"]
	path = CENG315-algorithms_THE
	url = https://github.com/basar-yilmaz/CENG315-algorithms_THE
[submodule "CENG477_ComputerGraphics"]
	path = CENG477_ComputerGraphics
	url = https://github.com/basar-yilmaz/CENG477_ComputerGraphics
[submodule "CENG435_NetworkPA"]
	path = CENG435_NetworkPA
	url = https://github.com/basar-yilmaz/CENG435_NetworkPA
[submodule "CENG334-OS"]
	path = CENG334-OS
	url = https://github.com/basar-yilmaz/CENG334-Operating-Systems-THE
[submodule "CENG336-Embedded"]
	path = CENG336-Embedded
	url = https://github.com/basar-yilmaz/CENG336-Embedded
[submodule "CENG384-Signal-Systems"]
	path = CENG384-Signal-Systems
	url = https://github.com/basar-yilmaz/CENG384-Signal-Systems
